<footer>
  <div class="footer-container">
    <div class="footer-logo">
      <svg class="icons">
        <use href="./images/footerlogo.svg"></use>
      </svg>
    </div>
    <div class="footer-contacts">
      <ul>
        <li>Тел: +38 (123) 456 78 90</li>
        <li>E-Mail: codingmagic@gmail.com</li>
        <li>Facebook: CodingMagic</li>
        <li>Twitter: CodingMagic</li>
        <li>Instagram: CodingMagic</li>
      </ul>
    </div>
    <div class="footer-subscribe">
      <div class="subscribe-form">
        <input type="email" placeholder="Ваша ел. адреса..." />
        <button type="button">Підписатись</button>
      </div>
      <p>
        *Підписавшись, Ви зможете оптимізувати інформацію про новини на сайті
      </p>
    </div>
  </div>
</footer>
