<header class="header">
  <div class="container header-container">
    <div class="logo">
      <svg class="icons">
        <use href="./images/logo.svg"></use>
      </svg>
    </div>
    <div class="header-div">
      <div class="header-info">
        <ul class="info-list">
          <li class="info-item">
            <div class="game-type">
              <h2 class="info-title">Інтерактив</h2>
              <ul class="list-info-game">
                <li class="div-info-item">
                  <button class="game-button" id="numerical">Числовий</button>
                </li>
                <li class="div-info-item">
                  <button class="game-button" id="game">Ігровий</button>
                </li>
                <li class="div-info-item">
                  <button class="game-button" id="acquaintance">
                    Ознайомчий
                  </button>
                </li>
              </ul>
            </div>
          </li>
          <li class="info-item">
            <a class="info-link team-link" href="#">Наша команда</a>
          </li>
          <li class="info-item">
            <a class="info-link" href="#">Контакти</a>
          </li>
        </ul>
      </div>
      <div class="header-details">
        <ul class="details-list">
          <li class="details-item">
            <label for="changeTheme" class="changeTheme">
              <input type="checkbox" name="changeTheme" id="changeTheme" />
              <!-- <span class="slider"></span> -->
            </label>
          </li>
          <li class="details-item">
            <p class="details-text">
              Вітаємо, <span id="name-output">User</span>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
