.maxNumber__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.maxNumber__title {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  font-family: var(--font-main);
  color: var(--color-text-primary);
  margin-bottom: 36px;
}
.maxNumber__input-group {
  display: flex;
  flex-direction: row;
  gap: 38px;
  margin-bottom: 36px;
}
.maxNumber__input {
  color: var(--color-text-tertiary);
  background-color: var(--color-text-bg);
  padding: 10px 20px;
  border-radius: 20px;
  visibility: visible;
  text-align: center;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
}
.maxNumber__result {
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  font-family: var(--font-main);
  color: var(--color-text-primary);
}
.random_number__line {
  width: 536px;
  height: 1px;
  background-color: #000;
  margin-bottom: 36px;
}
