.students_swiper {
  // height: 377px;
  width: 900px;
  position: relative;
}
.students_photo {
  display: flex;
  justify-content: center;
}
.students_img {
  height: 150px;
  width: 150px;
  background-color: #d9d9d9;
  border-radius: 20px;
  margin-top: 36px;
}

.students_name {
  margin: 20px 0 15px 0;
}
//====swiper====

.swiper-slide {
  display: flex;
  text-align: center;
  justify-content: center;
}

.students_swiper {
  overflow: hidden;
  width: 100%;
}

.students_title {
  margin-bottom: 36px;
}

.swiper-button-prev,
.swiper-button-next {
  width: 50px;
  height: 100px;
  color: var(--color-text-primary);
  top: 50px;
  transform: translateY(-50%);
  font-size: 40px;
  transform: scale(0.9);
  transition: color 0.3s ease;

  &:hover {
    color: #397878a0;
    transition: color 0.3s ease;
  }
}

.swiper-button-prev {
  transform: translate(0px, -65px);
}
.swiper-button-next {
  transform: translate(0px, -65px);
}

.students_description {
  margin-bottom: 32px;
}

.swiper-pagination-bullet {
  width: 18px;
  height: 3px;
  color: var(--color-text-bg-secondary);
  border-radius: 3px;
}

.swiper-pagination-bullet-active {
  width: 30px;
  height: 3px;
  background-color: #797979;
}
//====line====
.game-id_10 {
  position: relative;
}

.game-id_10::after {
  content: '';
  position: absolute;

  width: 536px;
  height: 1px;
  background-color: var(--color-text-primary);
  bottom: 0;
}
